[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
mypy = "*"
pyspotlight = "*"
requests = "*"
pandas = "*"
gspread = "*"
"oauth2client" = "*"
pyopenssl = "*"
sparqlwrapper = "*"
wikipedia = "*"
wikidata = "*"
python-levenshtein = "*"

[dev-packages]

[requires]
python_version = "3.7"
